@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    border-width: 0px;
}

*, ::after, ::before {
    /*border: 0 solid #e5e7eb;*/
    
}

textarea, input {
    outline: none;
    color: #e5e7eb;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 600;
}

p {
    color: #243e63;
    font-weight: 500;
    /*space between the paragraphs*/
    line-height: 1.5;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.row {
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}

.purple {
    color: #6415ff;
}

input {
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    font-weight: 500;
    border: 2px solid #e5e7eb;
}

button {
    /*background-color: rgba(100,21,255);
    color: #fff;
    border-radius: 9999px;
    margin: 8px 8px 8px 0px;
    padding: 16px 0px;*/

    background-color: #6415ff;
    color: #fff;
    padding: 12px 32px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    
}

button:hover {
    background-color: #5011cc;
    cursor: pointer;
}

.divider {
    margin-top: 40px;
}

.titles {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.headers {
    margin: 16px 0 0;
    font-size: 48px;
    color: #243e63;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 26px; 
    padding: 96px 0;
}

.row__columns {
    display: flex;
    justify-content: center;
}

.row__columns--left {
    width: 50%;
    margin-right: 40px;
}

.row__columns--right {
    display: flex;
    justify-content: center;
}

.paragraphs {
    margin: 16px 0 0;
    font-size: 18px;
    color: #7C8BA1;
    display: block;
    text-align: left;
}
/* 

NAVIGATION

*/

.logo {
    width: 50px;
    margin: 0 12px 0 0;
}

.logo__text {
    margin: 0 24px 0 0;
    font-size: 24px;
    font-weight: bold;
}

.logo__text:hover, li:hover {
    color: #6415ff;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
    /* adjust the distance between underline and text */
    text-underline-offset: 8px;
    /* bold the underline, not the text */
    text-decoration-thickness: 3px;
    
}

.nav {
    margin: 32px 0 0 0;
}

.nav, 
.nav__links,
.logo__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #243e63;
    padding: 0 0 4px;
}

.nav__link {
    margin: 0px 24px;
    font-weight: 600;
}

/* 

HEADER 

*/

.img__trusted {
    width: 400px;
    margin: 16px 0px 0px;
    padding: 0px 64px 0px 0px;
}

.img__design {
    width: 512px;
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.txt_trusted {
    font-weight: 700;
    font-size: 14px;
}

.img__trusted, .txt_trusted {
    opacity: 50%;
}

.header__columns {
    max-width: 1280px;
    /*max-width: 32rem;*/
    min-width: 0px;
    padding: 96px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__email {
    display: flex;
    position: absolute;
}

.header__columns--right {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__columns--left {
    max-width: 45%;
}

.header__h1 {
    font-size: 36px;
}

.header__para {
    font-size: 16px;
    margin: 32px 0px;
}

.header__container--right {
    width: 640px;
}

.header__input:hover {
    border-color: #c4c6ca;
}

textarea, .header__input:focus {
    border: 2px solid #6415ff;
    border-color: none;
}


.header__button {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 8px 8px 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__trusted {
    margin: 120px 0px 0px;
    padding: 0px;
}

/*

FEATURES

*/

.features__title {
    margin: 0px 0px 16px;
    
}

.features__title, .features__title--services, .features__para {
    /* aligns the text to the center of the page */
    text-align: center;
}

.features__title--services {
    color:#243e63;
    font-size: 48px;
    margin: 0;
}

.features__para {
    margin-top: 1rem;
    max-width: 36rem;
    color: #7C8BA1;
    font-size: 18px;
}

.features__column--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features__column--services {
    display: flex;
    width: 320px;
    padding: 32px 8px;
    margin: 0px 16px;
}

.features__column--right{
    margin: 8px 0 0 16px;
}

.features__column--title {
    font-size: 24px;
    font-weight: bold;
}

.features__column--description {
    margin: 16px 0 0;
    color: #7C8BA1;
    line-height: 2;
}

.imageContainer {
    width: 66px;
    height: 66px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #c4c6ca;

}

.img__service {
    width: 24px;
    height: 24px;
}

/*

QUALITY 

*/

.quality__button {
    margin: 32px 0 0;
    font-size: 14px;
}

.img__quality {
    height: 356px;
    width: 555px;
    outline: 1px solid #c4c6ca;
}

/* 

STEPS 

*/

.step__rows {
    padding: 96px 32px;
    display: flex;

}

.img__steps {
    width: 100%;
    
}

.steps__columns--left {
    width: 50%;
    padding: 32px 32px 0 0;
}

.steps__columns--right {
    padding: 32px 0 32px 0;
    width: 50%;
}

.numbers__container {
    margin: 32px 0 0 0;
}

.numbers__container:hover {
    text-decoration: none;
    cursor: auto;
}

.numbered__columns {
    margin: 32px 0 0;
}

.numbered__columns--left {
    font-size: 36px;
    font-weight: 600;
    color: #CBD5E0;
    
}

.numbered__columns--right {
    padding: 0 0 0 24px;
}

.numbered__columns:hover {
    text-decoration: none;
    cursor: auto;
}

.numbers__list {
    font-size: 36px;
    color: #CBD5E0;
}

.numbered__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
}

.numbered__para {
    margin: 12px 0 0;
    color: #718096;
    font-size: 14px;
    width: 85%;
}

.numbers__container, .values__container, .benefits__container, .affordable__sides, .professionalism__sides {
    display: flex;
}

.affordable__right, .professionalism__right {
    margin: 0 0 0 12px;
}   

/* 

VALUES

*/

.values__row {
    margin: 96px 0 96px 0;
}

.values__column--left {
    width: 90%;
}

.img__values {
    padding: 0 0 0 32px;
    width: 100%
}

.benefits__container {
    margin: 24px 0 0 0;
}

.affordable__header, .professionalism__header {
    color: #243e63;
}

.affordable__para, .professionalism__para {
    width: 90%;
    color: #718096;
    margin: 12px 0 0 0;
}

.affordable__left, .professionalism__left {
    height: 36px;
    width: 36px;
}

.affordable__left {
    color: #276749;
    background-color: #9AE6B4;
    border-radius: 50px;
}

.feather-dollar-sign {
    align-items: center;
    justify-content: center;
}

.professionalism__left {
    background-color: #FEB2B2;
    border-radius: 50px;
}

/*

PRICING 

*/

.pricing__container {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pricing__para {
    margin: 16px 0 0 0;
    text-align: center;
    width: 55%;
}

.pricing__row {
    padding: 96px 0;
}

/* Plans */

.plans__container {
    /* for the three row containers */
    display: flex;
    justify-content: center;
    text-align: center;
}

.plans__colours {
    width: 100%;
    height: 2vh;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    top: 0px;
    left: 0px;
    right: 0px;
}

.threeplans__wrapper {
    margin: 64px 32px 0 0;
    /*padding: 8px 32px 0 32px;*/
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.gradient__green, .plans__button--first {
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}


.business__container {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 10px;
}

.plans__button--mid {
    background: #fff;
    color: #6415ff;
}

.gradient__red, .plans__button--last {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plans__container--top {
    padding: 32px 0;
}

.plans__container--mid {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-style: solid;
    border-color: #CBD5E0;
}

.plans__container--btm {
    align-items: center;
}




.plans__container--mid, .plans__container--btm {
    padding: 32px;
}

.plans__container--top, .plans__container--mid, .plans__container--btm, .plans__features--container {
    display: flex;
    flex-direction: column;
}

.plans__title, .plans__title--pricing, .plans__features--title {
    color: #1A202C;
}


.plans__title, .plans__title--pricing, .plans__features--title, .plans__title--monthly {
    font-weight: 700;
}

.plans__title {
    font-size: 1.25rem;
}

.plans__title--pricing {
    font-size: 48px;
    margin: 4px 0;
}

.plans__title--monthly {
    color: #A0AEC0;
    font-size: 16px;
    letter-spacing: 0.1em;

}

.plans__features--title {
    font-size: 20px;
}

.plans__features--list {
    color: #718096;
    font-weight: 500;
    margin-top: 1.25rem;
}

.business__title, .business__pricing, .plans__features--container, .business__list, .business__monthly {
    color: #fff;
    
}

.plans__button--first, .plans__button--mid, .plans__button--last {
    font-size: 14px;
    width: 100%;
    
}

/*

Testimonials

*/

.testimonials__container {
    display: flex;
    padding: 96px 0 96px 0;
    
}

.testimonials__container--left {

}

.testimonials__container--right {
    padding: 0 0 0 64px;
    width: 90%;
}

.star__svg {
    width: 20px;
    height: 20px;
    fill: #f6c00d;
}

.rating__container {
    display: flex;
    margin:  24px 0 3px 0;
}

.clients__img {
    width: 100%;
}

.user__img {
    width: 80px;
    height: 80px;
    border-radius: 80%;
}

.user__container {
    display: flex;
   
}

.user__title {
    color: #718096;
}
.user__container--info {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
}

.review__title {
    margin: 16px 0 0 0;
}

.review__title, .user__name {
    color: #243e63;
    font-size: 20px;
    font-weight: bold;

}

.review__para {
    margin: 16px 0 40px 0;
}

/*

FAQS

*/

.faqs__container--top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions__para {
    width: 45%;
}


.faqs__container--btm {
    margin: 48px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions__desc {
    font-size: 20px;
}

.questions__container--right {
    margin: 0 0 0 12px
}

.accordion {
    max-width: 800px;
}

.accordion .contentBx {
    position: relative;
    margin: 10px 20px;
}

.accordion .contentBx .label {
    padding: 10px;
    background: #EDF2F7;
    color: #1A202C;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBx.active .label::before {
    content: '-';
}

.accordion .contentBx .content {
    position: relative;
    background: #d4d8dd;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content {
    height: 150px;
    padding: 10px;
}

/*

Developers 

*/

.developer__row {
    padding: 96px 0;
}




/* accordion -- search up on yt
fix the icon svg position
add shade/shadow to the pricing options
make the plan containers the same width
when you make the page smaller, the text of 
"buy now" doesn't fit in the button
added comments
hjow to
added comments
*/